#artwork_form {

  .artwork-name {
    margin-bottom: 10px;

    span.name {
      font-size: 28px;
      margin-right: 5px;
      font-weight: bold;
    }
  }

  input.majorminor {
    width: 50px;
  }


  .audio-player {
    margin-left: -20px;
  }
}