#artwork_form {

  .artwork-name {
    margin-bottom: 10px;

    span.name {
      font-size: 28px;
      margin-right: 5px;
      font-weight: bold;
    }

    input {
      width: 40%;
      margin-top: 10px;
    }
  }

  select {
    width: 60%;
  }

  input.majorminor {
    width: 50px;
    display: inline;
  }


  .audio-player {
    margin-left: -20px;
  }

  .back-to-gallery {
    margin-left: -15px;
  }
}