#gallery_form {
	 padding: 20px;

	.row {
		margin-bottom: 10px;
	}

	.gallery-name {
		margin-bottom: 10px;

		span.name {
			font-size: 28px;
			margin-right: 5px;
			font-weight: bold;
		}
	}

	.col-md-6 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.left-col {
		padding-right: 10px;
	}
}