<div class="well">
<form id="artwork_form" class="container">  
      
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    {{alert.msg}}
  </alert>

  <div class="row artwork-name">
    <span class="wrap-title name">{{artwork.name}}</span>

    <button class="btn btn-default btn-xs h2-button" ng-hide="isEditing" ng-click="edit()"><span class="glyphicon glyphicon-edit"/>{{'ARTWORK.EDIT' | translate}}</button>

    <button class="btn btn-danger btn-xs h2-button" ng-hide="isEditing" ng-click="confirmDelete()"><span class="glyphicon glyphicon-remove"/>{{'ARTWORK.DELETE' | translate}}</button>

    <button class="btn btn-primary btn-xs h2-button" ng-show="isEditing" ng-click="submit()"><span class="glyphicon glyphicon-ok"/> {{'ARTWORK.SAVE' | translate}}</button>

    <button class="btn btn-default btn-xs h2-button" ng-show="isEditing" ng-click="cancelEdit()"><span class="glyphicon glyphicon-remove-circle"></span> {{'ARTWORK.CANCEL' | translate}} </button>
  </div>

  <div class="row" ng-switch="isEditing">
    <h4>{{'ARTWORK.DESCRIPTION' | translate}}</h4>
    <div ng-switch-when="false" ng-bind-html="artwork.description | nl2br"></div>
    <textarea  placeholder="description" rows="15" class="form-control" ng-switch-when="true" value="{{editingArtwork.description}}" ng-model="editingArtwork.description"/>
  </div>

  <div class="row">
    <div class="col-md-6 left-col" ng-switch="isEditing">
      <h4>Author</h4>
      <p ng-switch-when="false">{{artwork.author}}</p>
      <input type="text" class="form-control" placeholder="author name" ng-switch-when="true" value="{{editingArtwork.author}}" ng-model="editingArtwork.author"/>
    </div>

    <div class="col-md-6 left-col" ng-switch="isEditing">
      <h4>{{'ARTWORK.BEACON' | translate}}</h4>
      <p ng-switch-when="false">{{artwork.major}}-{{artwork.minor}}</p>
      <input type="text" class="majorminor" placeholder="major" ng-switch-when="true" value="{{editingArtwork.major}}" ng-model="editingArtwork.major"/>  
      <input type="text" class="majorminor" placeholder="minor" ng-switch-when="true" value="{{editingArtwork.minor}}" ng-model="editingArtwork.minor"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" ng-switch="isEditing">
      <h4>{{'ARTWORK.IMAGE' | translate}}</h4>
      <div ng-switch-when="false">
        <cl-image class="thumbnail" public-id="{{artwork.image.public_id}}" crop="fill" height="150" width="200" format="jpg"/>
      </div>

      <div ng-switch-when="true" class="form_controls">
        <div>
          <cl-image class="thumbnail" public-id="{{editingArtwork.image.public_id}}" crop="fill" height="150" width="200" format="jpg"/>
        </div>
        
        <le-uploader upload-completed="imageUploaded(data)" tags="artwork.gallery_id" prompt="{{'ARTWORK.UPLOAD_IMAGE' | translate}}"></le-uploader>
      </div>
    </div>

    <div class="col-md-6" ng-switch="isEditing">
      <h4>{{'ARTWORK.AUDIO' | translate}}</h4>
      <div ng-switch-when="false">
        <le-audio-player ng-show="artwork.audio" artwork="artwork.audio"></le-audio-player>
        <p ng-hide="artwork.audio"> {{'ARTWORK.NO_AUDIO' | translate}}</p> 
      </div>

      <div ng-switch-when="true" class="form_controls">
        <le-audio-player ng-show="editingArtwork.audio" artwork="editingArtwork.audio"/></le-audio-player>

        <le-uploader upload-completed="audioUploaded(data)" tags="artwork.gallery_id" prompt="{{'ARTWORK.UPLOAD_AUDIO' | translate}}"></le-uploader>
      </div>
    </div>

  </div>

</form>
</div>
