<tabset class="gallery-content">
  <tab heading="Info">
    <div class="well">
        <form id="gallery_form" class="container">  
          
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            {{alert.msg}}
          </alert>

          <div class="row gallery-name">
            <span class="wrap-title name">{{gallery.name}}</span>

            <button class="btn btn-default btn-xs h2-button" ng-hide="isEditing" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span> {{ 'GALLERY.EDIT' | translate }} </button>

            <button class="btn btn-danger btn-xs h2-button" ng-hide="isEditing" ng-click="confirmDelete()"><span class="glyphicon glyphicon-remove"></span> {{'GALLERY.DELETE' | translate}}</button>

            <button class="btn btn-primary btn-xs h2-button" ng-show="isEditing" ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> {{'GALLERY.SAVE' | translate}}</button>

            <button class="btn btn-default btn-xs h2-button" ng-show="isEditing" ng-click="cancelEdit()"><span class="glyphicon glyphicon-remove-circle"></span> {{ 'GALLERY.CANCEL' | translate}} </button>

            <input  ng-show="isEditing" placeholder="{{ 'ARTWORK.NAME_PH' | translate}}" class="form-control" type="text" value="{{editingGallery.name}}" ng-model="editingGallery.name"/>

          </div>

          <div class="row" ng-switch="isEditing">
            <h4 translate='GALLERY.ADDRESS'></h4>
            <div ng-switch-when="false">{{gallery.address}}</div>
            <input placeholder="{{'GALLERY.ADDRESS_PH' | translate}}" class="form-control" type="text" ng-switch-when="true" value="{{editingGallery.address}}"  geocomplete geo-result="geoResult(lat, lng, address)"/>  
          </div>

          <div class="row" ng-switch="isEditing">
            <h4 translate='GALLERY.DESCRIPTION'></h4>
            <div ng-switch-when="false" ng-bind-html="gallery.description | nl2br"></div>
            <textarea rows="15" class="form-control" ng-switch-when="true" value="{{editingGallery.description}}" ng-model="editingGallery.description"></textarea>
          </div>

          <div class="row">
            <div class="col-md-6 left-col" ng-switch="isEditing">
              <h4 translate='GALLERY.HOURS'></h4>
              <div ng-switch-when="false" ng-bind-html="gallery.hours | nl2br"></div>
              <textarea rows="3" class="form-control" ng-switch-when="true" value="{{editingGallery.hours}}" ng-model="editingGallery.hours"></textarea>
            </div>

            <div class="col-md-6" ng-switch="isEditing">
              <h4 translate='GALLERY.PRICE_DESCRIPTION'></h4>
              <div ng-switch-when="false" ng-bind-html="gallery.price_description | nl2br"></div>
              <textarea rows="3" class="form-control" ng-switch-when="true" value="{{editingGallery.price_description}}" ng-model="editingGallery.price_description"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" ng-switch="isEditing">
              <h4 translate='GALLERY.PRICE_REFERENCE'></h4>
              <div ng-switch-when="false">{{'$' + gallery.price_reference}}</div>
              <select ng-switch-when="true" class="form-control btn btn-primary" ng-model="editingGallery.price_reference" ng-options="(value == 0 ? 'free' : '$' + value) for value in price_references"></select>
            </div>

            <div class="col-md-4" ng-switch="isEditing">
              <h4 translate='GALLERY.TYPE'></h4>
              <div ng-switch-when="false" translate="{{'GALLERY.' + gallery.type}}"></div>
              <select ng-switch-when="true" class="form-control btn btn-primary" ng-model="editingGallery.type" ng-options="('GALLERY.' + value | translate) for value in types"></select>
            </div>

            <div class="col-md-4" ng-switch="isEditing">
              <h4 translate='GALLERY.FACILITIES'></h4>
              <div ng-switch-when="false" translate="{{gallery.facilities.join(', ')}}"></div>
              <le-multiselect ng-switch-when="true" values="facilities" translation-prefix="facility_translation_prefix" current-values="editingGallery.facilities"></le-multiselect>
            </div>

          </div>

        </form>
    </div>
  </tab>

  <tab ng-show="gallery.id" heading="{{'GALLERY.ARTWORKS_TAB' | translate}} ({{artworks.length}})">
    <div class="container well">
        <div class="row" >

          <div class="col-md-4">
            <div class="artwork-grid-item add-item">
              <a ng-href="#/gallery/{{gallery.id}}/artwork">
                <div class="imgthumb img-responsive">
                  <span class="glyphicon glyphicon-plus"></span>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4" ng-repeat="artwork in artworks">
            <div class="artwork-grid-item">
              <a ng-href="#/gallery/{{gallery.id}}/artwork/{{artwork.id}}">
                <div class="imgthumb img-responsive">
                  <cl-image public-id="{{artwork.image.public_id}}" crop="fill" height="170" width="230" format="jpg"/>
                </div>
                <div class="caption">
                  <h5> {{artwork.name}} </h5>
                </div>
              </a>
            </div>
          </div>

        </div>
    </div>
  </tab>

</tabset>
