<tabset class="gallery-content tab-animation">
  <tab heading="Info">
    <div class="well">
        <form id="gallery_form" class="container">  
          
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            {{alert.msg}}
          </alert>

          <div class="row gallery-name">
            <span class="wrap-title name">{{gallery.name}}</span>

            <span ng-switch="isEditing">
              <button ng-switch-when="false" class="btn btn-default btn-xs h2-button" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span> {{ 'GALLERY.EDIT' | translate }} </button>

              <button ng-switch-when="true" class="btn btn-default btn-xs h2-button" ng-click="cancelEdit()"><span class="glyphicon glyphicon-remove-circle"></span> {{ 'GALLERY.CANCEL' | translate}} </button>
            </span>

            <span ng-switch="isEditing">
              <button ng-switch-when="false" class="btn btn-danger btn-xs h2-button" ng-click="confirmDelete()"><span class="glyphicon glyphicon-remove"></span> {{'GALLERY.DELETE' | translate}}</button>

              <button ng-switch-when="true" class="btn btn-primary btn-xs h2-button " ng-click="submit()"><span class="glyphicon glyphicon-ok"></span> {{'GALLERY.SAVE' | translate}}</button>
            </span>

            <div ng-switch="isEditing">
              <div class="animated-fadeinout-item-quick" ng-switch-when="true">
                <input   placeholder="{{ 'ARTWORK.NAME_PH' | translate}}" class="form-control" type="text" value="{{editingGallery.name}}" ng-model="editingGallery.name"/>
              </div>
            </div>

          </div>

          <div class="row" ng-switch="isEditing">
            <h4 translate='GALLERY.PUBLISHED'></h4>
            <div class="animated-vanishfadein-item" ng-switch-when="false">
              <bs-switch
                ng-model="gallery.enabled"
                type="checkbox"
                switch-active="{{ !gallery }}"
                switch-readonly="true"
                switch-size="small"
                switch-on-text="{{ 'GALLERY.ENABLED' | translate }}"
                switch-off-text="{{ 'GALLERY.DISABLED' | translate }}"
                ng-true-value="true"
                ng-false-value="false"> </bs-switch>
            </div>

            <div class="animated-vanishfadein-item" ng-switch-when="true">
              <bs-switch
                ng-model="editingGallery.enabled"
                type="checkbox"
                switch-size="small"
                switch-on-text="{{ 'GALLERY.ENABLED' | translate }}"
                switch-off-text="{{ 'GALLERY.DISABLED' | translate }}"
                ng-true-value="true"
                ng-false-value="false"> </bs-switch>
            </div>
          </div>

          <div class="row" ng-switch="isEditing">
            <h4 translate='GALLERY.ADDRESS'></h4>
            <div ng-switch-when="false" class="animated-vanishfadein-item" >{{gallery.address}}</div>
            <div class="animated-vanishfadein-item" ng-switch-when="true">
              <input  placeholder="{{'GALLERY.ADDRESS_PH' | translate}}" class="form-control" type="text"  value="{{editingGallery.address}}"  geocomplete geo-result="geoResult(lat, lng, address)"/>  
            </div>
          </div>

          <div class="row" ng-switch="isEditing">
            <h4 translate='GALLERY.DESCRIPTION'></h4>
            <div ng-switch-when="false" class="animated-vanishfadein-item" ng-bind-html="gallery.description | nl2br"></div>
            <div class="animated-vanishfadein-item" ng-switch-when="true">
              <textarea rows="15" class="form-control" value="{{editingGallery.description}}" ng-model="editingGallery.description"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 left-col" ng-switch="isEditing">
              <h4 translate='GALLERY.HOURS'></h4>
              <div ng-switch-when="false" class="animated-vanishfadein-item" ng-bind-html="gallery.hours | nl2br"></div>
              <div class="animated-vanishfadein-item" ng-switch-when="true">
                <textarea rows="3" class="form-control" value="{{editingGallery.hours}}" ng-model="editingGallery.hours"></textarea>
              </div>
            </div>

            <div class="col-md-6" ng-switch="isEditing">
              <h4 translate='GALLERY.PRICE_DESCRIPTION'></h4>
              <div ng-switch-when="false" class="animated-vanishfadein-item" ng-bind-html="gallery.price_description | nl2br"></div>
              <div class="animated-vanishfadein-item" ng-switch-when="true">
                <textarea rows="3" class="form-control" value="{{editingGallery.price_description}}" ng-model="editingGallery.price_description"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" ng-switch="isEditing">
              <h4 translate='GALLERY.PRICE_REFERENCE'></h4>
              <div ng-switch-when="false" class="animated-vanishfadein-item">{{'$' + gallery.price_reference}}</div>
              <div class="animated-vanishfadein-item" ng-switch-when="true">
                <select class="form-control btn btn-primary" ng-model="editingGallery.price_reference" ng-options="(value == 0 ? 'free' : '$' + value) for value in price_references"></select>
              </div>
            </div>

            <div class="col-md-4" ng-switch="isEditing">
              <h4 translate='GALLERY.TYPE'></h4>
              <div ng-switch-when="false" class="animated-vanishfadein-item" translate="{{'GALLERY.' + gallery.type}}"></div>
              <div class="animated-vanishfadein-item" ng-switch-when="true">
                <select class="form-control btn btn-primary" ng-model="editingGallery.type" ng-options="('GALLERY.' + value | translate) for value in types"></select>
              </div>
            </div>

            <div class="col-md-4" ng-switch="isEditing">
              <h4 translate='GALLERY.FACILITIES'></h4>
              <div ng-switch-when="false" class="animated-vanishfadein-item" translate="{{gallery.facilities.join(', ')}}"></div>

              <div class="animated-vanishfadein-item" ng-switch-when="true">
                <le-multiselect values="facilities" translation-prefix="facility_translation_prefix" current-values="editingGallery.facilities"></le-multiselect>
              </div>
            </div>

          </div>

        </form>
    </div>
  </tab>

  <tab ng-show="gallery.id" heading="{{'GALLERY.ARTWORKS_TAB' | translate}} ({{artworks.length}})">
    <div class="container well">
        <div class="row" >

          <div class="col-md-4">
            <div class="artwork-grid-item add-item">

              <a ng-href="#/gallery/{{gallery.id}}/artwork">
                <div class="caption-add-new" translate="GALLERY.ADD_NEW"></div>
                <div class="imgthumb img-responsive">
                  <span class="glyphicon glyphicon-plus"></span>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4 animated-fadeinout-item" ng-repeat="artwork in artworks">
            <div class="artwork-grid-item">
              <a ng-href="#/gallery/{{gallery.id}}/artwork/{{artwork.id}}">
                <div class="imgthumb img-responsive">
                  <cl-image public-id="{{artwork.image.public_id}}" crop="fill" height="170" width="230" format="jpg"/>
                </div>
                <div class="caption">
                  <div class="caption-title"> {{artwork.name}} </div>
                  <span ng-hide="{{artwork.enabled}}" class="glyphicon glyphicon-eye-close"></span>
                  <span ng-show="{{artwork.audio}}" class="glyphicon glyphicon-headphones"></span>
                  <span ng-show="{{artwork.majorminor > 0}}" class="glyphicon glyphicon-signal"></span>
                </div>
              </a>
            </div>
          </div>

        </div>
    </div>
  </tab>

</tabset>
