<div class="container">
  <h2>Your Galleries ({{galleries.length}})</h2>
  <div class="row">

    <div class="col-md-4" ng-repeat="gallery in galleries">
        
      <div class="galleryGridItem">
        <a ng-href="#/gallery/{{gallery.id}}">
          <div class="imgthumb img-responsive">
            <cl-image public-id="{{gallery.images[0].public_id}}" crop="fill" height="150" width="200" format="jpg"/>
          </div>
          <div class="caption">
            <h5> {{gallery.name}} </h5>
          </div>
        </a>
      </div>
        
    </div>

  </div>

</div>
