<div class="container">

  <h3 class="galleries-title"  translate="MAIN.YOUR_GALLERIES" translate-value-count="{{galleries.length}}"> </h3>
  <div class="container well">
    <div class="row">

      <div class="col-md-4">
        <div class="galleryGridItem add-item">
          <a ng-href="#/gallery/">
            <div class="caption-add-new" translate="GALLERY.ADD_NEW"></div>
            <div class="imgthumb img-responsive">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4 animated-fadeinout-item" ng-repeat="gallery in galleries">
        <div class="galleryGridItem">
          <a ng-href="#/gallery/{{gallery.id}}">
            <div class="imgthumb img-responsive">
              <cl-image public-id="{{gallery.images[0].public_id}}" crop="fill" height="170" width="230" format="jpg"/>
            </div>
            <div class="caption">
              <div class="caption-title"> {{gallery.name}} </div>
              <span ng-hide="{{gallery.enabled}}" class="glyphicon glyphicon-eye-close"></span>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
